---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=desc&page=1&per_page=1&q=language:ruby%20user:rubygems&sort=stars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=language%3Aruby+user%3Arubygems&sort=stars&order=desc&page=2&per_page=1>;
        rel="next", <https://api.github.com/search/repositories?q=language%3Aruby+user%3Arubygems&sort=stars&order=desc&page=31&per_page=1>;
        rel="last"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1597798401'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":31,"incomplete_results":false,"items":[{"id":488514,"node_id":"MDEwOlJlcG9zaXRvcnk0ODg1MTQ=","name":"bundler","full_name":"rubygems/bundler","private":false,"owner":{"login":"rubygems","id":208761,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIwODc2MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/208761?v=4","gravatar_id":"","url":"https://api.github.com/users/rubygems","html_url":"https://github.com/rubygems","followers_url":"https://api.github.com/users/rubygems/followers","following_url":"https://api.github.com/users/rubygems/following{/other_user}","gists_url":"https://api.github.com/users/rubygems/gists{/gist_id}","starred_url":"https://api.github.com/users/rubygems/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rubygems/subscriptions","organizations_url":"https://api.github.com/users/rubygems/orgs","repos_url":"https://api.github.com/users/rubygems/repos","events_url":"https://api.github.com/users/rubygems/events{/privacy}","received_events_url":"https://api.github.com/users/rubygems/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/rubygems/bundler","description":"Manage
        your Ruby application''s gem dependencies","fork":false,"url":"https://api.github.com/repos/rubygems/bundler","forks_url":"https://api.github.com/repos/rubygems/bundler/forks","keys_url":"https://api.github.com/repos/rubygems/bundler/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rubygems/bundler/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rubygems/bundler/teams","hooks_url":"https://api.github.com/repos/rubygems/bundler/hooks","issue_events_url":"https://api.github.com/repos/rubygems/bundler/issues/events{/number}","events_url":"https://api.github.com/repos/rubygems/bundler/events","assignees_url":"https://api.github.com/repos/rubygems/bundler/assignees{/user}","branches_url":"https://api.github.com/repos/rubygems/bundler/branches{/branch}","tags_url":"https://api.github.com/repos/rubygems/bundler/tags","blobs_url":"https://api.github.com/repos/rubygems/bundler/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rubygems/bundler/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rubygems/bundler/git/refs{/sha}","trees_url":"https://api.github.com/repos/rubygems/bundler/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rubygems/bundler/statuses/{sha}","languages_url":"https://api.github.com/repos/rubygems/bundler/languages","stargazers_url":"https://api.github.com/repos/rubygems/bundler/stargazers","contributors_url":"https://api.github.com/repos/rubygems/bundler/contributors","subscribers_url":"https://api.github.com/repos/rubygems/bundler/subscribers","subscription_url":"https://api.github.com/repos/rubygems/bundler/subscription","commits_url":"https://api.github.com/repos/rubygems/bundler/commits{/sha}","git_commits_url":"https://api.github.com/repos/rubygems/bundler/git/commits{/sha}","comments_url":"https://api.github.com/repos/rubygems/bundler/comments{/number}","issue_comment_url":"https://api.github.com/repos/rubygems/bundler/issues/comments{/number}","contents_url":"https://api.github.com/repos/rubygems/bundler/contents/{+path}","compare_url":"https://api.github.com/repos/rubygems/bundler/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rubygems/bundler/merges","archive_url":"https://api.github.com/repos/rubygems/bundler/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rubygems/bundler/downloads","issues_url":"https://api.github.com/repos/rubygems/bundler/issues{/number}","pulls_url":"https://api.github.com/repos/rubygems/bundler/pulls{/number}","milestones_url":"https://api.github.com/repos/rubygems/bundler/milestones{/number}","notifications_url":"https://api.github.com/repos/rubygems/bundler/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rubygems/bundler/labels{/name}","releases_url":"https://api.github.com/repos/rubygems/bundler/releases{/id}","deployments_url":"https://api.github.com/repos/rubygems/bundler/deployments","created_at":"2010-01-26T00:46:38Z","updated_at":"2020-08-13T08:05:38Z","pushed_at":"2020-05-17T12:13:00Z","git_url":"git://github.com/rubygems/bundler.git","ssh_url":"git@github.com:rubygems/bundler.git","clone_url":"https://github.com/rubygems/bundler.git","svn_url":"https://github.com/rubygems/bundler","homepage":"https://bundler.io","size":226926,"stargazers_count":4810,"watchers_count":4810,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":false,"has_wiki":false,"has_pages":true,"forks_count":2131,"mirror_url":null,"archived":true,"disabled":false,"open_issues_count":22,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":2131,"open_issues":22,"watchers":4810,"default_branch":"master","score":1.0}]}'
  recorded_at: Wed, 19 Aug 2020 00:52:22 GMT
recorded_with: VCR 6.0.0
